@import "{{ site.theme }}";
* {box-sizing: border-box}

div.header
{
  width:100%;
  height:100%
  background-color:#eee;
  display:table-row;  
}

div.left
{
    width:15%;
    height:100%;
    background-color:red;
    display: table-cell;
}
div.center
{
    width:70%;
    height:100%;
    background-color:red;
    display: table-cell;
}

div.right
{
 width:5%;
# height:520px;
 background-color:powderblue;
 display: table-cell;
}

div.bodyrow
{
    width:100%;
  display:table-row;  
}

div.body
{
 width:100%;
 height:100%;
 background-color:white;
 
 display:table;
}
body {background-color:#dedede;}
img {width:175px;height:auto}
h2 {font:12pt/14pt "Arial";font-weight:bold; color:#000000;}
h3 {font:10pt/12pt "Arial";font-weight:bold; color:#444444;}
p {text-indent:5em}

a
{
text-decoration: none;
}