<html><head>
<meta http-equiv="content-type" content="text/html; charset=windows-1252"><style type="text/css">
body {background-color:#dedede;}
img {width:175px;height:auto}
h2 {font:12pt/14pt "Arial";font-weight:bold; color:#000000;}
h3 {font:10pt/12pt "Arial";font-weight:bold; color:#444444;}
p {text-indent:5em}
a {text-decoration: none;}
</style>

</head><body>
<title>Ayan Bandyopadhyay's Home Page</title>

<hr>

<table border="0">
<colgroup>
        <col width="10">
        <col width="275">
        <col width="400">
</colgroup>
<tbody><tr></tr><tr></tr><tr></tr><tr></tr>
<tr>
        <td></td>
<td>
        <ul><img src="Ayan%20Bandyopadhyay%27s%20Home%20Page_files/Ayan.jpg"></ul>
</td>
<td border="0">
        <h2>Ayan Bandyopadhyay<br> (অয়ন বনদযোপাধযায়)<b<br></b<br></h2>
        <h3>Information Retrieval Laboratory<br>
        Computer Vision and Pattern Recognition Unit<br>
        Indian Statistical Institute<br>
        203 B.T. Road<br>
        Kolkata 700 108.<br>
        +91 3325752858 (Lab).<br>
        Email:  bandyopadhyay.ayan@gmail.com,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ayan@irsi.res.in<br>
<br>

</h3>
</td>
</tr>
<tr></tr><tr></tr><tr></tr><tr></tr>
</tbody></table>
<hr>
<h2 class="center" align="center">
<a href="#conference_workshop"><font color="000000">Conference &amp; Workshop</font></a> |
<a href="#publication"><font color="000000">Publications</font></a> |
<a href="#personal"><font color="000000">Personal</font></a> | 

</h2>
<hr>
<!------------------------------ CONFERENCE & WORKSHOPS ------------------------------>

<table>
<tbody><tr><td width="220" height="50"></td><td></td></tr>
<tr><td width="220"><b><font size="3"><u><a name="conference_workshop">Conference and Workshop:</a></u></font></b></td><td></td></tr>
<tr><td width="220"></td><td><li><a href="http://www.isical.ac.in/%7Eclia/2010/"><font color="000000">FIRE 2010: Forum for Information Retrieval Evaluation</font></a></li></td></tr>
<tr><td width="220"></td><td><li><a href="http://www.isical.ac.in/%7Eclia/2008/"><font color="000000">FIRE 2008: Forum for Information Retrieval Evaluation</font></a></li></td></tr>
<tr><td width="220" height="50"></td><td></td></tr>
</tbody></table>

<hr>
<!------------------------------ PUBLICATION ------------------------------>

<table>
<tbody><tr><td width="220" height="50"></td><td></td></tr>
<tr><td width="220"><b><font size="3"><u><a name="publication">Publication:</a></u></font></b></td><td></td></tr>

<tr><td width="220"></td><td><li><i><b>Ayan Bandyopadhyay</b>, Sukomal Pal, Mandar Mitra, Prasenjit Majumder, Kripabandhu Ghosh</i>: <b>"Passage Retrieval for Tweet Contextualization at INEX 2012</b>. CLEF (Online Working Notes/Labs/Workshop) 2012</li></td></tr>

<tr><td width="220"></td><td><li><i>Kripabandhu Ghosh, Swapan K. Parui, Prasenjit Majumder, <b>Ayan Bandyopadhyay</b>, S. John J. Raja Singh</i>: <b>Indian Statistical Institute, Kolkata at TREC 2010: Legal Interactive</b>. TREC 2010</li></td></tr>

<tr><td width="220"></td><td><li><i>Prasenjit Majumder, Mandar Mitra, Dipasree Pal, <b>Ayan Bandyopadhyay</b>, Samaresh Maiti, Sukomal Pal, Deboshree Modak, Sucharita Sanyal</i>: <b>The FIRE 2008 Evaluation Exercise</b>. ACM Trans. Asian Lang. Inf. Process. 9(3): (2010)</li></td></tr>


<tr><td width="220"></td><td><li><i>Sukomal Pal, Mandar Mitra, Debasis Ganguly, Samaresh Maiti, <b>Ayan Bandyopadhyay</b>, Aparajita Sen, Sukanya Mitra</i>: <b>"Indian Statistical Institute at INEX 2008 Adhoc Track"</b>,
 Advances in Focused Retrieval, 7th International Workshop of the 
Initiative for the Evaluation of XML Retrieval (INEX 2008), Geva, S., 
Kamps, J., Trotman, A. (Eds.), INEX 2008 Proceedings, 2009. LNCS 5631 , 
pp. 79--86.</li></td></tr>
<tr><td width="220"></td><td><li><b>Text Collections for FIRE</b>, <i>P. Majumder, M. Mitra, D. Pal, <b>Ayan Bandyopadhyay</b>, S. Maiti, S. Mitra, A. Sen, S. Pal.</i><br>Proc. ACM SIGIR 2008 </li></td></tr>
<tr><td width="220" height="50"></td><td></td></tr>
</tbody></table>
<hr>
<!------------------------------ PERSONAL ------------------------------>


<table>
<tbody><tr><td width="220" height="50"></td><td></td></tr>
<tr><td width="220"><b><font size="3"><u><a name="personal">Personal:</a></u></font></b></td><td></td></tr>
<tr><td width="220"></td><td><li><font color="000000"><a href="http://www.sarbadhikari.com/ayan/ayanmng.htm">Meaning of Ayan</a></font></li></td></tr>
<tr><td width="220"></td><td><li><font color="000000">Photo</font></li></td></tr>
<tr><td width="220"></td><td><font color="000000">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://picasaweb.google.com/bandyopadhyay.ayan/Santiniketan"><font color="000000">Santiniketan Visva-Bharati.</font></a></font></td></tr>
<tr><td width="220"></td><td><font color="000000">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://picasaweb.google.com/bandyopadhyay.ayan/Kolkata"><font color="000000">Kolkata.</font></a></font></td></tr>
<tr><td width="220" height="50"></td><td></td></tr>
</tbody></table>
<hr>
<center>
<!-- Start of StatCounter Code -->

<script type="text/javascript">

var sc_project=4001739;

var sc_invisible=0;

var sc_partition=48;

var sc_click_stat=1;

var sc_security="d9d0d784";

var sc_text=2;

</script>



<script type="text/javascript" src="Ayan%20Bandyopadhyay%27s%20Home%20Page_files/counter.js"></script><noscript><div class="statcounter"><a href="http://www.statcounter.com/free_web_stats.html" target="_blank"><img class="statcounter" src="http://c.statcounter.com/4001739/0/d9d0d784/0/" alt="website statistics" ></a></div></noscript>

<!-- End of StatCounter Code -->
</center>



</body></html>