<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
<meta name="viewport" content="width=device-width">
</head>
  <body>
<hr>
<div class="body">
  <div class="bodyrow">
    <div class="left">
      &nbsp;
        <ul><img width="100%" hight="100%" src="Ayan.jpg">
    </div>
    <div class="center">
        <h2>Ayan Bandyopadhyay<br> (অয়ন বন্দ্যোপাধ্যায়)<br></h2>
        <h3>Information Retrieval Laboratory<br>
        Computer Vision and Pattern Recognition Unit<br>
        Indian Statistical Institute<br>
        203 B.T. Road<br>
        Kolkata 700 108.<br>
        +91 3325752858 (Lab).<br>
        Email:  bandyopadhyay [dot] ayan [at] gmail [dot] com</h3>
    </div><!-- End of Div center -->

</div> <!-- End of Div bodyrow -->
</div> <!-- End of Div body -->
<hr/>
  <h2 align="center">
| <a href="#conference_workshop"><font color="000000">Conference &amp; Workshop</font></a> |
<a href="#publication"><font color="000000">Publications</font></a> |
<a href="#personal"><font color="000000">Personal</font></a> | 

</h2>
<hr/>

<div class="body">
  <!------------------------------ PUBLICATION ------------------------------>
  <div class="bodyrow">
 <div class="left">
   <a name="publication">Publication:</a>
   </div>
 <div class="center">
   <ul>
     <li><i>Debasis Ganguly, <b>Ayan Bandyopadhyay</b>, Mandar Mitra, Gareth J.F. Jones</i>:<br/><b>Retrievability of Code Mixed Microblogs</b><br/>SIGIR, 2016,  pp. 973--976 </li>

     <li><i><b>Ayan Bandyopadhyay</b>, Dwaipayan Roy, Mandar Mitra, Sanjoy Saha</i>:<br/><b>Named Entity Recognition from Tweets</b><br/>LWA, 2014, pp. \ 218-225</li>

     <li><i><b>A. Bandyopadhyay</b>, K. Ghosh, P. Majumder, M. Mitra</i>:<br/><b>Query Expansion for Microblog Retrieval</b><br/>International Journal of Web Science; Volume-1, Number-4, 2012, pp.\ 368--380</li>

     <li><i><b>Ayan Bandyopadhyay</b>, Sukomal Pal, Mandar Mitra, Prasenjit Majumder, Kripabandhu Ghosh</i>:<br/><b>Passage Retrieval for Tweet Contextualization at INEX 2012</b>.<br/>CLEF (Online Working Notes/Labs/Workshop) 2012</li>

     <li><i>Kripabandhu Ghosh, Swapan K. Parui, Prasenjit Majumder, <b>Ayan Bandyopadhyay</b>, S. John J. Raja Singh</i>:<br/><b>Indian Statistical Institute, Kolkata at TREC 2010: Legal Interactive</b>.<br/>TREC 2010</li>

     <li><i>Prasenjit Majumder, Mandar Mitra, Dipasree Pal, <b>Ayan Bandyopadhyay</b>, Samaresh Maiti, Sukomal Pal, Deboshree Modak, Sucharita Sanyal</i>:<br/><b>The FIRE 2008 Evaluation Exercise</b>.<br/>ACM Trans. Asian Lang. Inf. Process. 9(3): (2010)</li>


     <li><i>Sukomal Pal, Mandar Mitra, Debasis Ganguly, Samaresh Maiti, <b>Ayan Bandyopadhyay</b>, Aparajita Sen, Sukanya Mitra</i>:<br/><b>Indian Statistical Institute at INEX 2008 Adhoc Track</b>.<br/>
 Advances in Focused Retrieval, 7th International Workshop of the 
Initiative for the Evaluation of XML Retrieval (INEX 2008), Geva, S., Kamps, J., Trotman, A. (Eds.), INEX 2008 Proceedings, 2009. LNCS 5631, pp. 79--86.</li>

     <li><i>P. Majumder, M. Mitra, D. Pal, <b>Ayan Bandyopadhyay</b>, S. Maiti, S. Mitra, A. Sen, S. Pal.</i><br><b>Text Collections for FIRE</b>.<br/>Proc. ACM SIGIR 2008 </li>
   </ul>
 </div> <!-- End of Div center -->
</div> <!-- End of Div bodyrow -->

  <!------------------------------ CONFERENCE & WORKSHOPS ------------------------------>

  <div class="bodyrow">
    <div class="left">
<a name="conference_workshop">Conference and Workshop:</a>
    </div>
    <div class="center">
      <ul>
	<li><a href="http://www.isical.ac.in/%7Eclia/2010/"><font color="000000">FIRE 2010: Forum for Information Retrieval Evaluation</font></a></li>
	<li><a href="http://www.isical.ac.in/%7Eclia/2008/"><font color="000000">FIRE 2008: Forum for Information Retrieval Evaluation</font></a></li>

    </div> <!-- End of Div center -->
    </div> <!-- End of Div bodyrow -->

  
<!------------------------------ PERSONAL ------------------------------>
<div class="bodyrow">
  <div class="left">

    <a name="personal">Personal:</a>
  </div>

  <div class="center">
    <ul>
      <li><font color="000000"><a href="http://www.sarbadhikari.com/ayan/ayanmng.htm">Meaning of Ayan</a></font></li>
      <li><font color="000000">Photo</font></li>

      <ul>
	<li><a href="http://picasaweb.google.com/bandyopadhyay.ayan/Santiniketan"><font color="000000">Santiniketan Visva-Bharati.</font></a></font></li>
        <li><a href="http://picasaweb.google.com/bandyopadhyay.ayan/Kolkata"><font color="000000">Kolkata.</font></a></fon></li>
</ul>
</ul>
    </div> <!-- End of Div center -->
</div>
</div>
<hr>



</body>
</html>
