<h3>Publication</h3>

<ul>
<li><i><b>Ayan Bandyopadhyay</b>, Sukomal Pal, Mandar Mitra, Prasenjit Majumder, Kripabandhu Ghosh</i>: <b>"Passage Retrieval for Tweet Contextualization at INEX 2012</b>. CLEF (Online Working Notes/Labs/Workshop) 2012</li>

<li><i>Kripabandhu Ghosh, Swapan K. Parui, Prasenjit Majumder, <b>Ayan Bandyopadhyay</b>, S. John J. Raja Singh</i>: <b>Indian Statistical Institute, Kolkata at TREC 2010: Legal Interactive</b>. TREC 2010</li>

<li><i>Prasenjit Majumder, Mandar Mitra, Dipasree Pal, <b>Ayan Bandyopadhyay</b>, Samaresh Maiti, Sukomal Pal, Deboshree Modak, Sucharita Sanyal</i>: <b>The FIRE 2008 Evaluation Exercise</b>. ACM Trans. Asian Lang. Inf. Process. 9(3): (2010)</li>

<li><i>Sukomal Pal, Mandar Mitra, Debasis Ganguly, Samaresh Maiti, <b>Ayan Bandyopadhyay</b>, Aparajita Sen, Sukanya Mitra</i>: <b>"Indian Statistical Institute at INEX 2008 Adhoc Track"</b>,
 Advances in Focused Retrieval, 7th International Workshop of the
Initiative for the Evaluation of XML Retrieval (INEX 2008), Geva, S.,
Kamps, J., Trotman, A. (Eds.), INEX 2008 Proceedings, 2009. LNCS 5631 ,
pp. 79--86.</li>

<li><b>Text Collections for FIRE</b>, <i>P. Majumder, M. Mitra, D. Pal, <b>Ayan Bandyopadhyay</b>, S. Maiti, S. Mitra, A. Sen, S. Pal.</i><br>Proc. ACM SIGIR 2008 </li>
</ul>
